<!DOCTYPE html>
<html>
<head>
<title>Levyraati 666</title>
</head>
<body>
    <h1>Levyralli vol. {{ .StartedAt }}</h1>
    {{ range .Players }}
    <p>
        <b>Esittäjä:</b> {{ .Name }} <br />
        <b>Kappale:</b> {{ .Song.Url }}  <br />
        <b>Kuvaus:</b> {{ .Song.Description }}  <br />

        <b>Arviot:</b> <br />
        {{ range .ReceivedReviews }}  <br />
        <b>Arvioija:</b> {{ .FromPlayer }}  <br />
        <b>Pisteet:</b> {{ .Rating }}/10  <br />
        <b>Arvio kappaleesta:</b> {{ .UserReview }}  <br />
        {{ end }}
    </p>
    {{ end }}
    </pre>
</body>
</html>